.button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 348px;
      height: 77px;
      background: rgba(17, 17, 17, 0.6);
      border: 1px solid #C4C4C4;
      &:hover {
         background: rgba(17, 17, 17, 0.9);
      }
}