.header__modal {
    position: fixed;
    top: 212px;
    transform: translateX(-50%);
    left: 50%;
    padding: 109px 240px 136px 221px;
    width: 1081px;
    height: 655px;
    background: rgba(255, 255, 255, 0.95);
    left: -100%;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s;
    &-active {
          left: 50%;
          visibility: visible;
          opacity: 1;
    }
    &-close {
        position: fixed;
        width: 60px;
        height: 60px;
        top: 41px;
        left: 986px;
    }
    &-left {
        margin-top: 15px;
        display: block;
        width: 36px;
        height: 4px;
        background: #4F4F4F;
        transform: rotate(135deg);
    }
    &-right {
        margin-top: -4px;
        display: block;
        width: 36px;
        height: 4px;
        background: #4F4F4F;
        transform: rotate(45deg);
    }
    &-title {
        margin-bottom: 46px;
        font-weight: 400;
        font-size: 28px;
        line-height: 33px;
        text-align: center;
        color: #000000;
    }
    input {
        margin-bottom: 20px;
        padding-left: 37px;
        width: 619px;
        height: 80px;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        border: 2px solid #000000;
    }
}