.promo {
   min-height: 1000px;
   padding-top: 1px;
   background: url("../../img/promo/promoBg.jpg")center (center / cover) no-repeat;
   &__title {
      margin-top: 300px;
      font-weight: 300;
      font-size: 80px;
      line-height: 94px;
      text-align: center;
      color: #F2F2F2;
   }
   &__wrapper {
      margin-top: 190px;
      display: flex;
      justify-content: space-around;
   }
   &__link {
      text-decoration: none;
      font-weight: 300;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #FFFFFF;
      &:hover {
         color: #FFFFFF;
      }
   }
}