.services {
   padding-top: 85px;
   border: 1px solid #BDBDBD;
   &__wrapper {
      padding: 0 86px ;
      margin-top: 52px;
      display: grid;
      grid-template-columns: repeat(4, 25%);
      grid-template-rows: 1fr;
   }
   &__item {
      img {
         width: 100%;
      }
      
      &-title {
         position: relative;
         padding-left: 10px;
         margin-top: 69px;
         font-weight: 500;
         font-size: 48px;
         line-height: 56px;
         color: #0E0E0E;
         &:before {
            content: "";
            position: absolute;
            border: 1px solid #E0E0E0;
            transform: rotate(90deg);
            width: 1040px;
            left: -518px;
            top: -260px;
            z-index: -1;
         }
         &:after {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            background: #4F4F4F;
            top: -28%;
            left: 1%;
         }
      }
      &-descr {
         margin-top: 23px;
         margin-left: 10px;
         width: 300px;
         font-weight: 400;
         font-size: 18px;
         line-height: 147.19%;
         color: #4F4F4F;
         
      }
   }
}